<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<jpath-config>

<driver path="D:\Users\1299792\Documents\driver\ie\IEDriverServer.exe" type="ie"/>
<open-page url="http://10.54.237.37:9089/NBL/LoginNew.action"/>

<login>
<username>1299792</username>
<branch>51</branch>
<password>1</password>
<inst>1</inst>
</login>

<host>
<username>fnsonld1</username>
<password>fnsonld1</password>
<ip>10.54.237.40</ip>
<knownHost>D:\Users\1299792\Documents\NetBeansProjects\Regrato\git_server_known_host.txt</knownHost>
</host>

<dayHost>
<username/>
<password/>
<ip/>
<knownHost/>
</dayHost>

<nightHost>
<username/>
<password/>
<ip/>
<knownHost/>
</nightHost>

<branches>
<branch>BranchMaster1</branch>
<branch>BranchMaster2</branch>
</branches>

<dbConnection>
<username>fnsonld1</username>
<password>fnsonld1</password>
<ip>10.54.237.40</ip>
<port>50001</port>
<schema>DB2DQ</schema>
</dbConnection>

</jpath-config>
